<div >
    <img src="../../assets/img/rectangle-copy.svg"
     class="Rectangle">
     <div id="circle" class="center">
        <img id="logoImg" src="../../assets/img/logo-original-copy.png" alt="logo adroit">
    </div>
    <div>       
     <form autocomplete="off" [formGroup] ="loginForm" (ngSubmit) ="onLogin()">
        <img src="../../assets/img/icon-users.svg"    
        class="iconusers">
         <input autocomplete="off" formControlName="username" class="input" required type="text" placeholder="user@adroitoverseas.net">
         <div class="Line-2" ></div>  
        <img src="../../assets/img/candado.svg"    
     class="iconusers">
     <input autocomplete="off" formControlName="password" class="input" type="password" required placeholder="Password">
     <div class="Line-2" ></div>
     <button type="submit" class="loginbutton">Login</button>
    </form>
     <br/>
     <span class="Forgot-password">Forgot Password?</span>
    </div>
</div>
